<datalist id="venues">
            <option>amusement park</option>
            <option>aquarium</option>
            <option>arcade</option>
            <option>batting cages</option>
            <option>beach</option>
            <option>boat ride</option>
            <option>bowling alley</option>
            <option>children's museum</option>
            <option>fishing</option>
            <option>horseback riding</option>
            <option>indoor amusement park</option>
            <option>indoor gym</option>
            <option>indoor pool</option>
            <option>kayaking</option>
            <option>library</option>
            <option>mall</option>
            <option>mini golf</option>
            <option>museum</option>
            <option>nature center</option>
            <option>nature preserve</option>
            <option>nature trail</option>
            <option>park</option>
            <option>petting zoo</option>
            <option>play area</option>
            <option>pony rides</option>
            <option>rock climbing</option>
            <option>ropes course</option>
            <option>science museum</option>
            <option>skating rink</option>
            <option>water park</option>
            <option>water sports</option>
            <option>zoo</option>
            </datalist>