<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Indoor <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li></li>

   
  </ul>
  
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Outdoor <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
  
  </ul>
</div>

<input type="text" list="venues">
<datalist id="venues">
<option>aquarium</option>
<option>batting cages</option>
<option>beach</option>
<option>boat ride</option>
<option>horseback/pony riding</option>
<option>kayaking</option>
<option>mini golf</option>
<option>nature preserve</option>
<option>nature trail</option>
<option>paddle boat</option>
<option>park</option>
<option>petting zoo</option>
<option>ropes course</option>
<option>water park</option>
<option>water sports?</option>
<option>zoo</option>
<option> indoor </option> 
<option>amusement park </option>
<option>arcade</option>
<option>batting cages (indoor)sports complex?</option>
<option>bowling alley</option>
<option>children's museum</option>
<option>library</option>
<option>mall</option>
<option>mini golf (indoor)</option>
<option>museum</option>
<option>nature center</option>
<option>play area</option>
<option>rock climbing</option>
<option>science museum</option>
<option>skating rink</option>


</datalist>
indoor gym,pool?

<!-- 
<% @projects.each do |project| %>
<li>Name: <%= project.name %></li>
<li>Materials: <%= project.materials %></li>
<li>Time needed: <%= project.time %> minutes</li>
<li>Created by <%= project.user.name %></li>
<li>_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</li>
<%end%>
<!-- link on each to instructions or button to select, which will redirect to start page  -->