<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Indoor <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li></li>

   
  </ul>
  }
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Outdoor <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
  
  </ul>
</div>


<!-- 
<% @projects.each do |project| %>
<li>Name: <%= project.name %></li>
<li>Materials: <%= project.materials %></li>
<li>Time needed: <%= project.time %> minutes</li>
<li>Created by <%= project.user.name %></li>
<li>_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</li>
<%end%>
<!-- link on each to instructions or button to select, which will redirect to start page  -->