<li>Name: <%= @project.name %></li>
<li>Materials: <%= @project.materials %></li>
<li>Time needed: <%= @project.time %> minutes</li>
<li>Created by <%= @project.user.name %></li>

link to go back or to select and redirect to start.  