// Place all the styles related to the itineraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hero__h1 {
  color: #FF5714;
  font-size: 7em;
  background: rgba(0,0,0,0.1);
  box-shadow: 0 0 12px 10px rgba(0,0,0,0.1);
}
  