<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="/img/favicon.ico">-->

    <title>TripWhip</title>

    <!-- CSS Global -->
    <link href="/css/styles.css" rel="stylesheet">

    <!-- CSS Plugins -->
    <link href="/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>

  <body class="body_index">

    <!-- PRELOADER
    ============================== -->
    <div class="preloader">
      <img src="/img/preloader.gif" alt="Loading..." class="preloader__img">
    </div>


    <!-- STATIC NAVBAR
    ============================== -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!-- Toggle button -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Brand name -->
          <a class="navbar-brand racing-title" href="/">TripWhip</a>
        </div>
        <div class="collapse navbar-collapse">
          <!-- Navbar links -->
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Kids' Events Calendars <span class="fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li class="active"><a href="http://redtri.com/events/chicago/?utm_source=main-nav&utm_medium=events-CHI&utm_campaign=main-nav-events-CHI" target="_blank">Chicago</a></li>
                <li class="active"><a href="http://redtri.com/events/atlanta/?utm_source=main-nav&utm_medium=events-ATL&utm_campaign=main-nav-events-ATL" target="_blank">Atlanta</a></li>
                <li class="active"><a href="http://redtri.com/events/los-angeles/?utm_source=main-nav&utm_medium=events-LA&utm_campaign=main-nav-events-LA" target="_blank">LA</a></li>
                <li class="active"><a href="http://redtri.com/events/portland/?utm_source=main-nav&utm_medium=events-PDX&utm_campaign=main-nav-events-PDX" target="_blank">Portland</a></li>
                <li class="active"><a href="http://redtri.com/events/san-francisco/">San Fransisco</a></li>
                <li class="active"><a href="http://redtri.com/events/seattle/?utm_source=main-nav&utm_medium=events-SEA&utm_campaign=main-nav-events-SEA" target="_blank">Seattle</a></li>
                <li class="active"><a href="http://redtri.com/events/dc/?utm_source=main-nav&utm_medium=events-DC&utm_campaign=main-nav-events-DC" target="_blank">DC</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Professional Sports Schedules <span class="fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li class="active"><a href="http://www.espn.com/mlb/schedule" target="_blank">MLB</a></li>
                <li class="active"><a href="http://www.nfl.com/schedules" target="_blank">NFL</a></li>
                <li class="active"><a href="http://www.espn.com/nhl/schedule" target="_blank">NHL</a></li>
                <li class="active"><a href="http://www.espn.com/nba/schedule" target="_blank">NBA</a></li>
                <li class="active"><a href="https://www.msn.com/en-us/sports/soccer/mls/schedule" target="_blank">MLS</a></li>
                <li class="active"><a href="www.espn.com/wnba/schedule" target="_blank">WNBA</a></li>
              </ul>
            </li>

            <!-- UI Elements -->
            <li><a href="/logout">Sign out</a></li>
          </ul>
          <!-- Search form (for collapsed menu only) -->
          <form class="navbar-form navbar-left visible-xs visible-sm" role="search">
            <div class="form-group">
              <label class="sr-only" for="nav-search-xs">Search</label>
              <input type="search" class="form-control" id="nav-search-xs" placeholder="Search here...">
            </div>
          </form>
        </div> <!-- / .navbar-collapse -->
      </div> <!-- / .container -->
    </div> <!-- / .navbar -->


  
<%=yield%>

    <!-- FOOTER
    ============================== -->
    <footer>

      <!-- Footer Bottom -->
      <div class="footer_bottom">
        <div class="container">
          <div class="row">
           <!--  <div class="col-xs-12 col-sm-6"> -->
              <div class="footer__copyright text-center">
                Copyright 2017 <span class="powered"> TripWhip </span> <span class="powered"> All Rights reserved. </span>
              </div>
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .footer_bottom -->
    </footer>


    <!-- Javascript
    ============================== -->

    <!-- JS Global -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>

    <!-- JS Plugins -->
    <script src="/js/backstretch.min.js"></script>
    <script src="/js/counter.js"></script>
    <!-- <script src="/js/jquery.waypoints.min.js"></script> -->
    <!-- <script src="/js/inview.min.js"></script> -->
    <script src="/js/scrolltopcontrol.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/contact.js"></script>

    <!-- JS Custom -->
    <script src="/js/custom.js"></script>
    
    <!-- <script src="/js/custom_skills.js"></script> -->
    <!-- <script src="/js/custom_countto.js"></script> -->
    <!-- <script src="/js/custom_google-map.js"></script> -->

    
  </body>
</html>