 <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Add a venue<span class="fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-submenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Indoor</a>
                  <!-- Dropdown submenu -->
                  <ul class="dropdown-menu">
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Outdoor</a>
                  <!-- Dropdown submenu -->
                  <ul class="dropdown-menu">
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                  </ul>
                </li>
              </ul>  
              <add a project